<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In Account</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/accounts/signin.css}">
</head>
<body>
    <div class="container content-align-center">
        <div class="content-box radius">
            <div class="title">
                <strong>로그인</strong>
            </div>
            <div class="body">
                <form th:action="@{/accounts/signin}" method="post">
                    <div class="form-input">
                        <div class="input-box">
                            <label for="username">이메일</label>
                            <input type="email" id="username" name="username">
                        </div>
                    </div>
                    <div class="form-input">
                        <div class="input-box">
                            <label for="password">패스워드</label>
                            <input type="password" id="password" name="password">
                            <div class="options">
                                <span class="forgot-password">
                                    <a th:href="@{/accounts/forgot-password}">패스워드 찾기</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="alert error" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION != null}">
                        아이디나 비밀번호를 다시 확인해 주세요.
                    </div>
                    <div class="form-input">
                        <div class="input-box">
                            <button type="submit" class="submit block">로그인</button>
                            <div class="options">
                                <span class="block text-align-center">
                                    <a th:href="@{/accounts/signup}">새 계정 만들기</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>