<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scope Approval Page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/accounts/approval.css}">

    <script type="application/javascript" th:src="@{/js/accounts/approval.js}"></script>
</head>
<body>
    <div class="container content-align-center">
        <div class="content-box radius">
            <div class="title">
                <strong>스코프 접근 허용</strong>
            </div>
            <div id="scope-approval" class="body">
                <div class="alert warning">
                    <strong th:text="${authorizationRequestClientName}"></strong>
                    <span>가 아래의 접근 권한을 요청합니다.</span>
                </div>
                <form id="scope-form" th:action="@{/oauth/authorize}" method="post">
                    <div class="scopes">
                        <div class="scope" th:each="scope : ${authorizationRequestScopes}">
                            <label class="description" th:text="${scope.description}"></label>
                            <input type="hidden" value="true" th:name="${scope.scopeId}">
                        </div>
                    </div>
                </form>
                <div class="buttons">
                    <button type="button" class="submit" onclick="approvalOrDeny(true)">허용</button>
                    <button type="button" class="danger" onclick="approvalOrDeny(false)">거부</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>