.content-box {
    width: 90%;
    max-width: 500px;
    padding: 30px;
}

.content-box > .title {
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.content-box > .body {
    margin-top: 35px;
}