.approval-box {
    width: 90%;
    max-width: 600px;
    color: #424242;
}

.approval-box > .title {
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.approval-box > .body {
    height: auto;
    box-sizing: border-box;
    padding: 1.2rem 1.2rem;
}

.scopes {
    padding: .5rem 1.2rem;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.scopes > .scope {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.buttons {
    margin-top: 10px;
    text-align: right;
}

button {
    width: 105px;
    margin-left: 10px;
}